* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  vertical-align: middle; 
  outline: none; 
  height: 100%;
}
a { text-decoration: none; color: inherit; }
li { list-style: none;}
img { vertical-align : top; }
body {
  font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #2d2d2d;
  }
.App {
  width: 100%;
  height: 950px;
  /* filter: blur(5px); */
}
#background {
  position: absolute;
  width: 100%;
  height: 950px;
  left: 0;
  top: 0;
}
#background::after {
  content: "";
  position: absolute;;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
#makeBox{
  position: relative;
  margin: 0 auto;
  width: 50vw;
  height: 950px;
  box-shadow: 0px 0px 20px #aaa;
  background: #fff;
  filter: none;
}
.inner{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}
#titleBox {
  margin: 40px 0;
}
#title {
  font-size: 48px;
}
#textBox{
width: 100%;
display: flex;
justify-content: center;
}
#textBox input{
  width: 32%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #aaa;
  text-align: center;
  margin: 0 8px;
}
ul{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 30px;
}
ul:nth-child(4){
  margin-top: 30px;
}
ul:nth-child(4)::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #aaa;
  top: -15px;
}
ul::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #aaa;
  bottom: -15px;
}
li{
  width: 30%;
  height: 40px;
}
li:first-child{
  font-size: 16px;
  color: #666;
  line-height: 40px;
}
button {
  width: 95%;
  height: 100%;
  background: #eee;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #777;
  font-size: 16px;
  line-height: 40px;
}
#btnDiv{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 14px 0;
}
#btnDiv button{
  width: 30%;
  height: 40px;
  border-radius: 0;
}
#btnDiv button:last-child{
  background-color: #aaa;
  color: #fff;
}
button:hover{
  background-color: #3b45ff;
  color: #fff;
  transition: 0.5s;
}
#btnDiv button:hover{
  background-color: #3b45ff;
  color: #fff;
  transition: 0.5s;
}


#captureBox {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  /* overflow: hidden; */
}
#thumbnailText {
  height: 400px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#thumbTitle{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 45%;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}
#thumbSubTitle{
  width: auto;
  min-width: 0;
  position: absolute;
  left: 50%;
  top: 60%;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}
#thumbSubTitle #subLine {
  width: 100%;
  height: 1px;
}
#thumbTag {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 5%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}
#textType .selected{
  background: #3b45ff;
  color: #fff;
}